.ChangeAllText {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: #111;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    margin-right: 100px;
    width: 200px;
  }
  
  .ChangeAllText label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    width: 90%;
  }
  
  .ChangeAllText select {
    background-color: #1a1a1a;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .ChangeAllText select:hover {
    border-color: #007bff;
  }
  
  .ChangeAllText select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
  }
  