.KeyBtnSelect{
    padding: 10px;
    margin: 5px;
    min-width: 40px;
    min-height: 40px;
    box-shadow: 0 2px 4px -1px #333;;
    background-color: #ffffff;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    border-radius: 4px;
}

.KeyBtnSelect:hover{
    background-color: #e7e7e7;
    cursor: pointer;
}
.KeyBtnSelect:active{
    box-shadow: none;
    background-color: #e7e7e7;
    cursor: pointer;
}
.dropdown{
    position: absolute;
    bottom: -100%;
    width: 100%;
    z-index: 10;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
.dropdown button{
    padding: 2px;
    box-shadow: 0 2px 4px -1px #333;;
    background-color: #f7f7f7;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
}
.btnInDw p{
    border-radius: 6px ;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}
p.color_black{
    color: #000;
    background-color: #000;
}
p.color_red{
    color: #FF5733;
    background-color: #FF5733;
}
p.color_blue{
    color: #3357FF;
    background-color: #3357FF;
}
p.color_green {
    color: #33FF57;
    background-color: #33FF57;
}
p.color_yellow{
    color: #ffe600;
    background-color: #ffe600;
}
p.color_pink{
    color: #FF33A1;
    background-color: #FF33A1;
}
.dropdown button:hover{
    background-color: #e7e7e7;
}
.KeyBtnSelect:active{
    box-shadow:  0 0px 2px -0px #333;
    background-color: #e7e7e7;
    cursor: pointer;
}